<html>
  <head>
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">

    <?!= include('views/sidebar.css'); ?>
    <!-- Materialize icons -->
    <link rel = "stylesheet"
          href = "https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>
  <script>
      // Prevent forms from submitting.
      function preventFormSubmit() {
          var forms = document.querySelectorAll('form');
          for (var i = 0; i < forms.length; i++) {
              forms[i].addEventListener('submit', function(event) {
                  event.preventDefault();
              });
          }
      }
      window.addEventListener('load', preventFormSubmit);
      function handleFormSubmit(formObject) {
          google.script.run.withSuccessHandler(updateUrl).processForm(formObject);
      }

      function submitBrainstormToImages2(formObject) {
          google.script.run
          // on success of first
              .withSuccessHandler(updateDivWithImages).processBrainstormUsingForm(formObject);
      }

      //update div based on results from images and NLP APIs
      function updateDivWithImages(imgs) {
          //Logger.log(imgs); no longer in this part of the script
          console.log(imgs);
          console.log("After imgs API returns and after I parse the Json, I am updating the div");
          for (var i = 0; i < imgs.length; i++) {
              // call images api and append a corresponding div
              // need jquery knowledge to resize these images
              if (imgs[i].length > 0){
                  // checks to see if src link is not the empty string
                  // I made the url be an empty string if the search for a keyword is not found in
                  // the websites.
                  $('#output').append('<img onclick="insertImage(this)" src="' + imgs[i] + '" width="78px" height="78px"/>');
              }
          }
      }

      function insertImage(img) {
          //google.script.run.get_current_page();// this works
          // try inserting an image
          google.script.run.insert_image(img.src, 0, 0, 200, 200);
          //currentPage.insertImage(img.src,0,0,500,500);
          console.log(img.src);
          console.log("Image clicked.");
      }
  </script>

  <body class="white">
  
    <div class="center-align" id='purpose'>
      <div class='purpose-item'>
        <div id='time'></div>
        <div class='purpose-label'>MINUTES</div>
      </div>
      <div class='purpose-item'>
        <div id='goal'></div>
        <div class='purpose-label'>GOAL</div>
      </div>
      <div class='purpose-item'>
        <div id='audience'></div>
        <div class='purpose-label'>AUDIENCE</div>
      </div>
    </div>
    
    <div class='page' id='ideas'>
      <div class="container">
        <h4 class="Title"> Magic Ideas </h4>
      </div>
      <div id='ideabox'>
        
      </div>
    </div>

    <div class='page' id='home' >
      <div class="container">
        <h4 class="Title"> Checklist </h4>
      </div>
        <div class='idea'>
          <div class='label'> CLEAN SLIDE RATIO:</div>
          <div id='clean_slides'></div>
        </div>
      <div class='idea'>
          <div class='label'>FONTS USED</div>
          <div id='fonts_used'></div>
      </div>
      <div class='idea'>
        <div class='label'>FONTSIZES USED</div>
        <div id='fontsizes_used'></div>
      </div>
    </div>

    <div class='page' id='fixes'>
      <div class="container">
        <h4 class="Title"> Quick Fixes </h4>
      </div>
      <div id='fixbox'>
        
      </div>
      <br><br><br><br><br>
    </div>
  
    <div class='page' id='brainstorm'>
      <div class="container">
        <h4 class="Title"> Brainstorm </h4>
      </div>
          <!-- brainstorm session in the sidebar -->
        <div class="col s12 container">

          <!-- brainstorm session in the sidebar -->
          <form id='brainstorm_form2' method="post" onsubmit="submitBrainstormToImages2(this)">
            <!--Name: <input label="name" type="text" name="name" /><br/>-->
            <div id="r" class="row">
              <div id="inpt" class="input-field col s11">
              <i class="material-icons prefix">create</i>
              <textarea class="materialize-textarea" label="brainstorm" name="brainstorm">At the Berkeley zoo, I saw many animals, including zebras, horses, and turtles.
                </textarea><br/>
              </div>
            </div>
            <div class="center-align white-text"><input class="btn green accent-2 waves-light waves-effect white-text" type="submit" value="Submit" /></div>
            <!--<a class="btn blue accent-2 waves-light waves-effect" type="submit">Submit</a>-->
          </form>

          <br><br>
          <div class="center-align" id="output"></div>
        </div>
      <br><br><br><br>
    </div>

    <div id="nav">
      <footer>
        <!--<div class='center-align' style="position:absolute; float: none; bottom: 0px; z-index: 99999;">-->
        <div class='center-align'>
          <!--<a class='green accent-2 navitem btn black-text' id='brainstorm_nav'> Brainstorm </a>-->
        </div>
        <br><br><br>
        <div class="white" id="navbar">
          <br>
          <div class="row center-align">
              <a class="col s3 navtile" id='ideanav'>
                <div class="img_size" >
                  <img src="https://captivate-ai.herokuapp.com/static/images/icons/bulb.png" />
                </div>
                <div class='waves-light navitem light-green-text text-darken-4'> Ideas </div>
              </a>
              <a class="col s3 navtile" id='homenav'>
                <div class="img_size">
                  <img src="https://captivate-ai.herokuapp.com/static/images/icons/checklist.png" />
                </div>
                <div class='waves-light navitem light-green-text text-darken-4'> Checklist </div>
              </a>
              <a class="col s3 navtile" id='fixnav'>
                <div class="img_size">
                  <img src="https://captivate-ai.herokuapp.com/static/images/icons/wand.png" />
                </div>
                <div class='waves-light navitem light-green-text text-darken-4'> Fixes </div>
              </a>
              <a class="col s3 navtile" id='brainstorm_nav'>
                <div class="img_size">
                  <i class="material-icons blue-text text-accent-2 medium">image</i>
                </div>
                <div class='center-align navitem light-green-text text-darken-4'> Images </div>
              </a>
              
          </div>
        </div>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <?!= include('jquery/sidebar.js'); ?>
  </body>
</html>