<html>
  <head>
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">

    <?!= include('views/sidebar.css'); ?>
    <!-- Materialize icons -->
    <link rel = "stylesheet"
          href = "https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>
  <script>
      // Prevent forms from submitting.
      function preventFormSubmit() {
          var forms = document.querySelectorAll('form');
          for (var i = 0; i < forms.length; i++) {
              forms[i].addEventListener('submit', function(event) {
                  event.preventDefault();
              });
          }
      }
      window.addEventListener('load', preventFormSubmit);
      function handleFormSubmit(formObject) {
          google.script.run.withSuccessHandler(updateUrl).processForm(formObject);
      }

      // function updateUrl(url) {
      //     var div = document.getElementById('output');
      //     div.innerHTML = '<a href="' + url + '">Got it!</a>';
      // }
      // function submitBrainstorm(formObject) {
      //     google.script.run.withSuccessHandler(updateDiv).processBrainstormUsingForm(formObject);
      // }

      function submitBrainstormToImages2(formObject) {
          google.script.run
          // on success of first
              .withSuccessHandler(updateDivWithImages).processBrainstormUsingForm(formObject);
      }

      //update div based on results from images and NLP APIs
      function updateDivWithImages(imgs) {
          //Logger.log(imgs); no longer in this part of the script
          console.log(imgs);
          console.log("After imgs API returns and after I parse the Json, I am updating the div");
          for (var i = 0; i < imgs.length; i++) {
              // call images api and append a corresponding div
              // need jquery knowledge to resize these images
              if (imgs[i].length > 0){
                  // checks to see if src link is not the empty string
                  // I made the url be an empty string if the search for a keyword is not found in
                  // the websites.
                  $('#output').append('<img onclick="insertImage(this)" src="' + imgs[i] + '" width="78px" height="78px"/>');
              }
          }
      }
  </script>

  <body class="white">
  
    <div class="center-align" id='purpose'>
      <div class='purpose-item'>
        <div id='time'></div>
        <div class='purpose-label'>MINUTES</div>
      </div>
      <div class='purpose-item'>
        <div id='goal'></div>
        <div class='purpose-label'>GOAL</div>
      </div>
      <div class='purpose-item'>
        <div id='audience'></div>
        <div class='purpose-label'>AUDIENCE</div>
      </div>
    </div>
    
    <div class='page' id='ideas'>
      <h4 class="center-align"> Magic Ideas </h4>
      <div id='ideabox'>
        
      </div>
    </div>

    <div class='page' id='home'>
      <h4 class="center-align"> Home </h4>
        <div class='suggestion'>
          <div class='label'>SUGGESTION</div>
          There is too much text on this slide. Consider selecting a picture you would like to replace it with
        </div>
      <div class='idea'>
          <div class='label'>FONTS</div>
          <div id='fontbox'>
            <button class='blue accent-2 waves-light font' id='TNR'>Times New Roman</button>
            <button class='blue accent-2 waves-light waves-effect font' id='athelas'>Athelas</button>
            <button class='blue accent-2 waves-light waves-effect font' id='georgia'>Georgia</button>
          </div>
        </div>
      <div class='idea'>
          <div class='label'>Quotes</div>
          <button class='quote'>"Don't cry because it's over, smile because it happened." -Dr. Seuss</button>
          <button class='quote'>"Two things are infinite: the universe and human stupidity; and I'm not sure about the universe." -Albert Einstein</button>
        </div>
    </div>
    
    <div class='page' id='fixes'>
      <h4 class="center-align"> Quick Fixes </h4>
      <div id='fixbox'>
        
      </div>
    </div>
  
    <div class='page' id='brainstorm'>
      <h4 class="center-align"> Brainstorm </h4>
          <!-- brainstorm session in the sidebar -->
        <div class="col s12">
          <form id='brainstorm_form' method="post" onsubmit="submitBrainstormToImages2(this)">

            <!--Name: <input type="text" name="name" /><br/>-->
            <div class="row">
              <div class="input-field col s11">
                <i class="material-icons prefix">person</i>
                <input id="user_name" type="text" class="validate">
                <label for="user_name">First Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s11">
                <i class="material-icons prefix">create</i>
                <textarea id="textarea1" class="materialize-textarea">We must learn to protect the Earth's environment. Here are some easy ways to remember to recycle and compost your goods.
                </textarea>
                <label for="textarea1"> Write or List things to talk about...</label>
              </div>
            </div>

            <!--<textarea name="bstorm"></textarea><br/>-->
            <div class="row">
              <div class="center-align">
                <a class="btn blue accent-2 waves-light waves-effect">Submit</a>
              </div>
            </div>

            <!--<input type="submit" value="Submit" />-->
          </form>
          <!-- brainstorm session in the sidebar -->
          <form id='brainstorm_form2' method="post" onsubmit="submitBrainstormToImages2(this)">
            Name: <input label="name" type="text" name="name" /><br/>
            Brainstorm:<br/>
            <textarea label="brainstorm" name="brainstorm"></textarea><br/>
            <input type="submit" value="Submit" />
          </form>

          <br><br>
          <div id="output"></div>
        </div>
    </div>      
  
    <footer>
      <div class='center-align'>
        <button class='blue accent-2 navitem btn' id='brainstorm_nav'> Brainstorm </button>
      </div>
      <br>
      <div class="center-align">

          <button class='blue accent-2 waves-light navitem btn' id='ideanav'> Ideas </button>
          <button class='blue accent-2 waves-light navitem btn-large' id='homenav'> Home </button>
          <button class='blue accent-2 waves-light navitem btn' id='fixnav'> Fixes </button>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <?!= include('jquery/sidebar.js'); ?>
  </body>
</html>