<style>

header {background: darkgrey; font-size: 24px; }
#purpose { margin: 10px}
.purpose-item {width: auto; margin: 10px; display: inline-block; vertical-align: top; text-align: center;}
.purpose-label {font-size: 9px; padding: 0px; margin: 0px;}
.label {font-size: 8px }
h2 { margin: 30px; }
button {white-space: normal; height: auto;}
.idea { padding: 10px; border-style: solid; border-width: 1px; margin-bottom: 20px; }
.suggestion { padding: 10px; border-style: solid; border-width: 1px; margin-bottom: 20px; }
footer { width: 100%; height: 100px}

/* I use materialize to format the navitem buttons */
/*.navitem { display: inline-block; width:28%; height: 80%; text-align: center; vertical-align:middle; border-style: solid; border-width: 1px;}*/

#fixes {display: none}
#home {display: none}
#brainstorm {display: none}
.page {border-top-style: solid; border-width: 2px; height: 600px; }
.font { width: 25% }
#fontbox { display: block; margin:10px;}
.quote { margin: 10px; width: 85%; }
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
/*#textarea1{*/
    /*height: 200px;*/
/*}*/
/*.materialize-textarea {*/
    /*height: 300px;*/
/*}*/

textarea.materialize-textarea{
    height: 0px;
}

/* We now use Materialize to make the home button bigger */
/*#homenav {width:33%; height: 88%;}*/

</style>