<style>
    /* I use Materialize to style the dialog.
    I'll use this section only if I want to override something or
    provide functionality that is not in Materialize. */

    .main {
        float: left;
        width: 70%;
    }

    .side {
        float: right;
        width: 20%;
    }

    [type="radio"]:checked {
        background-color: blue !important;
    }

    /*[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {*/
    /*background-color: rgb(255, 138, 6) !important;*/
    /*}*/
    /*[type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {*/
    /*border: 2px solid rgb(255, 138, 6) !important;*/
    /*}*/
    .script-application-sidebar-close {
        color: purple; !important;
        text-color: blue; !important;
    }
</style>