<?!= include('views/about.css'); ?>
<!-- Compiled and minified Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<div class="main">
    <div class="center-align blue accent-2">
        <h5 class="white-text"> A few questions to help you get started </h5>
    </div>
    <ul>
        <li>1. Who is your audience? </li>
        <li>2. How much time do you have to present? </li>
        <li>3. What is your goal? </li>
        <li>4. If this presentation succeeds, what would you gain? </li>
        <li>4. After you either skip or fill it in, the sidebar will appear. It has 3 sections: Ideas, Home, and Quick Fixes.</li>
    </ul>
</div>

<div class="side">
    <button class="waves-light waves-effect btn-small blue accent-2"
            onclick="google.script.host.close()" >Close</button>
</div>